#nav{
    width: 100%;
    height: auto;
    background-color: black;

    box-sizing: border-box;
    padding: 10px 0px; 

    color: rgb(255, 245, 230);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}